{% extends 'base.html' %}
{% block content %}

<h2>Available Internships</h2>



{% for item in internships %} 
<div class="card">

    <h3>{{ item.obj.title }}</h3>

    <p><b>Company:</b> {{ item.obj.company }}</p>
    <p><b>Skills:</b> {{ item.obj.required_skills }}</p>

    <!-- MATCH -->
    <p>
        <b>Match:</b>
        <span class="{% if item.match > 70 %}high{% elif item.match > 40 %}medium{% else %}low{% endif %}">
            {{ item.match }}%
        </span>
    </p>

    <!-- ✅ JOB DESCRIPTION -->
    <p><b>Job Description:</b></p>
    <p style="color:#555;">
        {{ item.obj.description }}
    </p>

    <!-- ✅ DEADLINE -->
    <p>
        <b>Apply Before:</b>
        {{ item.obj.deadline|date:"M d, Y" }}
    </p>
    {% if item.obj.deadline < today %}
        <p style="color: red;"><b>Deadline Passed</b></p>
    {% endif %}
    <!-- APPLY BUTTON -->
    {% if user.is_authenticated %}

        {% if not user.studentprofile.phone or not user.studentprofile.college or not user.studentprofile.education or not user.studentprofile.skills or not user.studentprofile.resume %}
            <button class="btn btn-disabled" disabled>Complete Profile</button>

        {% elif item.obj.id in applied_ids %}
            <button class="btn btn-disabled" disabled>Applied</button>

        {% else %}
            <a href="/apply/{{ item.obj.id }}/" class="btn">Apply</a>

        {% endif %}

    {% endif %}

</div>
{% endfor %}


{% endblock %}